/* HIDE ELEMENTS */
.hide {
    display: none;
}

/* GENERAL PAGE STYLES */
body {
    border: none;
    margin: 0;
    padding: 0;
    color: #33373d;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    line-height: 1.55;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

/* FOUNDATION TOP-BAR */

.top-bar {
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    border-bottom: solid 4px #a5cb0b;
    top: 0;
    height: 4.2em;
    color: #0a7b09;

}

.top-bar ul {
    background-color: #FFFFFF;
   
}

.top-bar a {
    color: #0a7b09;
    font-size: 18px;
}

/* SEARCH SECTION */

form {
    display: inline-block;
}

#search-btn {
    display: inline-block;
    background-color: #ecdb0e;
    border-radius: 5px; 
    border: solid rgb(248, 209, 37);
    padding: 5px;
   
}
 
#search-history-list { 
    margin: 0px;  
}  

#zipcode{
   display: inline-block;
   width: auto;
   margin-right: 10px;
}

#search-zipcode {
    border: 2px solid #e7e7e7;
    padding: 10px;
    margin-left: 10px;
}

.history-btn {
    display: block;
    background-color: rgba(255,255,255,0.7); 
    border-radius: 10px;
    border-bottom: 2px solid #e7e7e7;;;
    padding: 10px;
    margin: 3px auto;
    width: 100%;
}

.history-btn:hover, .fave-btn:hover {
    cursor: pointer;
    background-color: #718a0b;
}

#clear-search-btn { 
    display: block;
    /* color: white; */
    background-color: #718a0b;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
    width: 100%;
}

#clear-search-btn:hover {
    cursor: pointer;
}

/* RESTAURANT RESULTS */

#nearest-restaurant {
    margin: 10px;
    font-size: 26px;
}

.result-each {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255,255,255,0.7);
    border: 3px solid #e7e7e7;;
    
}

.restaurant-name {
    font-weight: bold;
    font-size: 18px;
}

.add-fave-btn {
    display: inline-block;
    background-color:#a5cb0b;
    border-radius: 5px;
    padding: 5px;
}

/* FAVOURITES SECTION */

.dropbtn {
    display: none;
}

.fave-btn {
    display: inline-block;
    background-color:#a5cb0b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    margin-bottom: 3px;
    width: 70%;
}

.remove-fave-btn {
    background-color:#a5cb0b;
    font-weight: bold;
    padding: 10px;
    vertical-align: top;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} 

.remove-fave-btn:hover {
    background-color:  #718a0b;
    cursor: pointer;
}

#faves-list {
    list-style: none;
    
}

#faves {
    border: 2px solid #e7e7e7;
    margin-right: 10px;
    padding: 10px;
    height: fit-content;
}

.sidebar-title {
    font-size: 26px;
    text-align: center;
}

#search-zipcode {
    margin-left: 10px;
    margin-top: 10px;
}

/* MODAL STYLES */

#error-modal3 {
    width: 35vw;
    height: 45vh;
}

#error-modal3 h3, #error-modal3 p {
    padding: 0 30px;
}

#error-modal3 h3 {
    padding-top: 10px;
}

#error-modal3 p {
    padding-bottom: 15px;
}

#clear-search-modal-btn-div {
    text-align: center;
    padding-bottom: 10px;
}

.clear-search-modal-btn {
    font-weight: bold;
    color: white;
    width: 45%;
    height: 30px;
    border: none;
    background-color: rgb(71, 72, 71);
    left: 5vw;
}

#clear-search-yes {
    background-color: rgb(185, 189, 186)
}

#clear-search-yes:hover, #clear-search-no:hover {
    background-color:rgb(201, 64, 64);
}

.reveal:focus {
    outline: none;
}

#error-modal4 {
    width: 35%;
}

#wrong-input-modal-btn-div {
    text-align: center;
}

#wrong-input-ok {
    padding: 6px;
    width: 100%;
    background-color: rgb(255, 188, 17);
}

/* PAGE SUBHEADING AND BUTTONS */ 

#page-outof {
    font-size: 20px;
}

#page-btn-div {
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.page-btn {
    color: rgb(6, 91, 6);
    padding: 5px;
}

.page-btn:hover {
    font-weight: bold;
}

#view-fav {
    display: inline-block;
    background-color: #ecdb0e;
    /* border-color:#ffae00 ;*/
    border-radius: 5px; 
    border: solid rgb(248, 209, 37);
    padding: 5px;
    color: black;
    margin-left: 10px;
   
}

/* ------------MEDIA QUERIES------------- */

/* Tablet screen */
@media only screen and (max-width: 992px){
    /* #search-zipcode{
        display: inline-block;
    } */
    #zipcode {
        margin: 3px;
        width: 80%;
    }

    #search-zipcode{ 
        margin: 15px;
    }
   
}

/* Mobile screen */
@media only screen and (max-width: 768px) {
    /* #search-history-list{
        width: 100%;
    } */
    #zipcode {
        width: 60%;
    }

    #search-zipcode {
        margin: 10px;
    }
    
    #faves {
        display: none;
        max-width: 0;
    }

    #content {
        width: max-content;
        align-self: center;
        margin: 0 auto;
        justify-content: center;
    }

    .dropbtn {
        
        display: inline-block;
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
    }
    
    .dropdown {
        /* position: relative; */
        display: inline-block;
        /* margin: 0;
        padding: 0; */
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 30%;
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        z-index: 1;
        margin: 0;
        padding: 0px;
    }

    .history-btn{
        display: block;
        margin-left: 0;
        border-radius: 5px;
        padding: 10px;
        /* margin: 3px; */
        width: 100%;
    }
    
    /* .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    } */

    #title-history {
        display: none;
    }
    
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
}

