body {
    border: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    line-height: 1.55;
    overflow-x: hidden;
    background-color: #0f0919;
}

form {
    display: inline-block;
}

#search-btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: 'Roboto',sans-serif; */
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}
 
.sidebar-title {
    font-size: 26px;
}

#search-history-list {
    /* margin: 10px; */
    /* padding: 10px; */
    /* background-color: rgba(255,255,255,0.7); */
    /* border: none;
    border-radius: 10px; */
}

.history-btn {
    display: block;
    background-color: rgba(255,255,255,0.7); 
    border-radius: 10px;
    padding: 10px;
    margin: 3px auto;
    width: 100%;
}

#clear-search-btn {
    display: block;
    color: white;
    background-color: rgba(154, 146, 146, 0.7); 
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
    width: 100%;
}

#clear-search-btn:hover {
    cursor: pointer;
    background: rgb(70, 70, 70);
}

.fave-btn {
    display: inline-block;
    background-color: rgba(255,255,255,0.7); 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    margin: 3px;
    margin-right: 0;
    width: 70%;
}

.history-btn:hover, .fave-btn:hover {
    cursor: pointer;
    background-color: grey;
}

.remove-fave-btn {
    background-color: grey;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 3px;
    margin-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.remove-fave-btn:hover {
    background-color: rgb(182, 60, 60);
    cursor: pointer;
}

#faves-list {
    list-style: none;
}

.top-bar {
    margin: 10px;
    padding: 10px;
    background-color: #FFEEEE;
    background: linear-gradient(10deg, #EEDDDD 0%, #FFEEEE 100%);
    box-shadow: 0 0 1em rgba(0,0,0,0.3);
    top: 0;
    height: 4.2em;
    color: #000000;

}

#nearest-restaurant {
    margin: 10px;
    font-size: 26px;
}

#result-each {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255,255,255,0.7);
    border: none;
    border-radius: 10px;
}


#search-zipcode {
    margin-left: 10px;
    margin-top: 10px;
    /* width: 450px; */
}
