.hide {
    display: none;
}

body {
    border: none;
    margin: 0;
    padding: 0;
    color: #33373d;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    line-height: 1.55;
    overflow-x: hidden;
    background-color: #FFFFFF;
}


/*Top bar layout */


form {
    display: inline-block;
}

.top-bar ul {
    background-color: #FFFFFF;
   
}
a{
    color: #0a7b09;
    font-size: 18px;
}


.top-bar {
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    /* background: linear-gradient(10deg, #EEDDDD 0%, #FFEEEE 100%); */
    /* box-shadow: 0 0 1em rgba(0,0,0,0.3); */
    border-bottom: solid 4px #a5cb0b;
    top: 0;
    height: 4.2em;
    color: #0a7b09;

}

/*seach section layout*/

#search-btn {
    /* display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: 'Roboto',sans-serif; */
    /* font-weight: 300; */
    /* color: #FFFFFF; */
    /* text-align: center;
    transition: all 0.2s; */ 
    display: inline-block;
    background-color:#18bc9c;;
    border-radius: 5px;
    padding: 5px;
   
}
 


#search-history-list { 
    /* margin: 10px; */
    /* padding: 10px; */
    /* background-color: rgba(255,255,255,0.7); */
    /* border: none;
    border-radius: 10px; */
} 
#zipcode{
   display: inline-block;
   width: auto;
   margin-right: 10px;
}


#search-zipcode {
    border: 2px solid #e7e7e7;
    padding: 10px;
    margin-left: 10px;
    /* margin-top: 10px; */
    /* width: 450px; */
}


.history-btn {
    display: block;
    background-color: rgba(255,255,255,0.7); 
    border-radius: 10px;
    padding: 10px;
    margin: 3px auto;
    width: 100%;
}

#clear-search-btn { 
    display: block;
    /* color: white; */
    background-color: rgba(154, 146, 146, 0.7); 
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
    width: 100%;
}
#clear-search-btn:hover {
    cursor: pointer;
    /* background: rgb(70, 70, 70); */
}


/*end search section layout*/

/*restaurant result layout*/

#nearest-restaurant {
    margin: 10px;
    font-size: 26px;
}

.result-each {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #e7e7e7;;
    
}
.add-fave-btn{
    display: inline-block;
    background-color:#a5cb0b;
    border-radius: 5px;
    padding: 5px;
}


/*end restraunt result*/

/*fav list layout*/

.fave-btn {
    display: inline-block;
    background-color:#a5cb0b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    margin-bottom: 3px;
    width: 70%;
}
.history-btn{
    border-bottom: 2px solid #e7e7e7;;;
}

.history-btn:hover, .fave-btn:hover {
    cursor: pointer;
    background-color: grey; /*I wanna chenge this colour*/
}

.remove-fave-btn {
    background-color:#a5cb0b;
    /* color: white; */
    font-weight: bold;
    padding: 10px;
    vertical-align: top;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} /* work out how to make the height of the remove btn the same as the fave btn */

.remove-fave-btn:hover {
    background-color: rgb(182, 60, 60); /*Iwanna change this colour*/
    cursor: pointer;
}

#faves-list {
    list-style: none;
    
}

#faves{
    border: 1px solid #e7e7e7;
    margin-right: 10px;
    padding: 10px;
}

/* .fav-list{
    background-color:#a5cb0b;
} */

.sidebar-title {
    /* color: white; */
    font-size: 26px;
}

#search-zipcode {
    margin-left: 10px;
    margin-top: 10px;
    /* width: 450px; */
}

/* MODAL STYLES */

#error-modal3 {
    width: 35vw;
    height: 45vh;
}

#error-modal3 h3, #error-modal3 p {
    padding: 0 30px;
}

#error-modal3 h3 {
    padding-top: 10px;
}

#error-modal3 p {
    padding-bottom: 15px;
}

#clear-search-modal-btn-div {
    text-align: center;
    padding-bottom: 10px;
}

.clear-search-modal-btn {
    font-weight: bold;
    color: white;
    width: 45%;
    height: 30px;
    border: none;
    background-color: rgb(71, 72, 71);
    left: 5vw;
}

#clear-search-yes {
    background-color: rgb(185, 189, 186)
}

#clear-search-yes:hover, #clear-search-no:hover {
    background-color:rgb(201, 64, 64);
}

/* page btns at bottom of main page */

#page-btn-div {
    text-align: center;
    padding: 5px
}

#page-btn-div button {
    color: green;
    padding: 5px;
}

#page-btn-div button:hover {
    font-weight: bold;
}