/* hidden elements*/
.hide {
    display: none;
}

/* main content */
main {
    margin: 50px;
}

.top-bar{
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    /* background: linear-gradient(10deg, #EEDDDD 0%, #FFEEEE 100%); */
    /* box-shadow: 0 0 1em rgba(0,0,0,0.3); */
    border-bottom: solid 4px #a5cb0b;
    top: 0;
    height: 4.2em;
    color: #0a7b09;

}

.top-bar ul {
    background-color: #FFFFFF;
   
}
a{
    color: #0a7b09;
    font-size: 18px;
}

/* no favourites message */
#no-fave-msg {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    width: 85vw;
    margin-top: 6vh;
}

/* foundation card component*/
.card {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

.fave {
    height: fit-content;
    width: 40vw;
    border: solid 2px rgb(94, 92, 92);
    box-shadow: 10px -5px  #718a0b;
}

.fave div {
    margin: 3px;
}

/* Google Maps */
.map {
    height: 30vh;
}

.map-btn, .remove-fave-btn, .show-img {
    border-radius: 4px;
    padding: 6px;
    margin-top: 5px;
    cursor: pointer;
}

.show-img {
    border: none;
    color: rgb(147, 93, 0);
    background-color: rgb(249, 224, 181);
    margin-left: 17px;
}

.show-img:hover {
    color: white;
    background-color: rgb(191, 136, 41);
}

.map-btn {
    border: none;
    color: rgb(40, 51, 113);
    background-color: rgb(177, 206, 228);
    margin-left: 15px;
}

.map-btn:hover {
    color: white;
    background-color: rgb(107, 147, 197);
}

.remove-fave-btn {
    font-size: 14px;
    color: rgb(198, 79, 79);
    border: solid 1px rgb(198, 79, 79);
    margin-right: 5px;
}

.remove-fave-btn:hover {
    color: white;
    background-color: rgb(210, 107, 107);
}

/* user-uploaded image */
.img {
    padding-bottom: 10px;
}

/* card info section */
.info {
    padding-top: 0;
    padding-bottom: 10px;
    border-bottom: solid 1px grey;
}

/* card notes */
.notes-display {
    margin: 0 !important;
    margin-bottom: 5px !important;
}

.notes-bar {
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    padding: 10px;
    margin: 0 !important;
    margin-bottom: 2px !important;
    border-radius: 5px;
}

/* .notes-buttons {
    border-top: gray 1px dotted;
} */

.notes-delete-btn {
    font-weight: bold;
    font-size: 16px;
    width: 20px;
    height: 20px;
    background-color: rgb(199, 78, 78);
    color: white;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}

.notes-delete-btn:hover {
    background-color: rgb(165, 53, 53);
}

.notes-bar p {
    padding: 0;
    margin: 0;
}

.notes-date {
    display: inline-block;
    color: gray;
    font-size: 0.8em;
}

.note-submit-btn {
    float: right;
    background-color:#a5cb0b;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.note-submit-btn:hover {
    color: white;
    background-color: rgb(91, 135, 53);
}

.clearing-div {
    height: 30px;
}

.remove-fave-btn {
    float: right;
}

